name: Backend CI

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'src/**'
  pull_request:
    branches: [ "main", "develop" ]
    paths:
      - 'src/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore ./src/Learnify.sln

    - name: Build
      run: dotnet build ./src/Learnify.sln --no-restore --configuration Release
